<h1>Thông báo cập nhật trạng thái hồ sơ</h1>
<p>Xin chào,</p>
<p>{{message}}</p>
<p>Vui lòng liên hệ với chúng tôi qua email:
  {{recruiterEmail}}
  nếu bạn có bất kỳ câu hỏi nào.</p>
<p>Trân trọng,</p>
<p>Đội ngũ tuyển dụng</p>